/* Options Framework Admin Styles */
#panelheader {
	width:100%;
	height: 110px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 6px 6px !important;
	border-top-right-radius: 6px 6px !important;
	background: #efefef;
}
#panelheader .header-info{
	float: right;
	width:auto;
	margin: 10px 15px;
	color: #858585;
	font: 23px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	text-shadow: 0 1px 0 #fff;
	background: url(../images/icon_option.png) no-repeat left center;
	padding:30px 0 30px 40px;
}
#branding {
	margin: 14px 15px 0 15px;
	width: auto;
	float:left;
}

#settings-metabox {
width:auto;
overflow:hidden;
border:1px solid #ddd;
border-top:0;
padding:0px 0 1px;
}

.gabfire-plugin-settings.metabox-holder h3 {
cursor:default !important;
-webkit-touch-callout: auto;
-webkit-user-select: auto;
-khtml-user-select: auto;
-moz-user-select: auto;
-ms-user-select: auto;
user-select: auto;	
box-shadow:none;
text-shadow:none;
}
.postbox {background:#fff !important}

.gab_option_box {
	width:100%;
	padding-bottom:1px;
	float:left;
	border:1px solid #ddd;
	margin: 0 0 15px;
	border-radius: 5px;
	background:#f9f9f9
}
.gab_option_box_inner {
	padding:0 10px;
}
.gab_option_box.deactive {opacity:0.5}
.gab_option_box.deactive:hover{opacity:0.9}
.clearfix {clear:both;height:1px;display:block;width:100%}
.gabfire-col-left {float:left;width:49%}
.gabfire-col-right {float:right;width:49%}

.gab_option_box h3 {
	float:left;
	background:none;
	border:none;
	padding:0;
	margin:15px 0 10px;
}
.gab_option_box p {clear:both;margin:0 0 10px;}
.gab_option_box .widefat {margin-bottom:5px;color:#333}
.widget_trigger {
	border: 1px solid #a2a2a2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	border-radius: 5px;
	cursor: pointer;
	display: block;
	height: 23px;
	margin:8px 0;
	overflow: hidden;	
	position: relative;
	width: 80px;
	float:right;
}

.widget_trigger input {display: none;}
.widget_trigger input:checked + .gab_switcher {left: 0px;}
.gab_switcher {
	left: -40px;
	position: absolute;
	top: 0px;
	-moz-transition: left .25s ease-out;
	-webkit-transition: left .25s ease-out;
	-o-transition: left .25s ease-out;
	transition: left .25s ease-out;
}

.gab_switcheron, .gab_switcherblock, .gab_switcheroff {
	display: block;
	font:bold 11px/23px verdana, arial, verdana, sans-serif;
	height: 23px;
	position: absolute;
	text-align: center;
	top: 0px;
}
.gab_switcheron {
	background: #3269aa;
	background: -moz-linear-gradient(top,  #3269aa 0%, #82b3f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3269aa), color-stop(100%,#82b3f4));
	background: -webkit-linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
	background: -o-linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
	background: -ms-linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
	background: linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
	color: white;
	left: 0px;
	width: 40px;
}
.gab_switcheroff {
	background: #f2f3f2;
	background: -moz-linear-gradient(top,  #8b8c8b 0%, #f2f3f2 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8c8b), color-stop(50%,#f2f3f2));
	background: -webkit-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
	background: -o-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
	background: -ms-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
	background: linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
	color: #8b8b8b;
	left: 80px;
	width: 40px;
}
.gab_switcherblock {
	background: #d9d9d8;
	background: -moz-linear-gradient(top,  #d9d9d8 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d8), color-stop(100%,#fcfcfc));
	background: -webkit-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
	background: -o-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
	background: -ms-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
	background: linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 23px;
	left: 40px;
	width: 40px;
}
.gabfire_options_submit {
	padding: 7px 12px 6px;
	border-bottom: 1px solid #ddd;
	overflow:hidden;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
.gabfire_options_submit.submit-bottom {
	border-top: 1px solid #ddd;
	border-bottom:none;
}
.gabfire_options_submit .button-primary {
	float:right;
	width:auto;
}
.gabfire_options_submit.marginbottom {
	margin-bottom:15px
}
.activate_widgets_notice {
	float:left;
	width:auto;
	margin:6px 0 0 0;
	font-size:13px;
}